body {
  margin: 0;
  padding: 0;
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.wallpaper, img {
  background-image: url('../img/landingPageWallpaper.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
}

.content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 0 2px 5px rgba(0, 0, 0, 10);
}

.content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.content p {
  font-size: 30px;
  margin-bottom: 30px;
}

.content a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #000000;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: background-color 0.3s;
  margin: 5px;
}

.content a:hover {
  background-color: #fdfdfdf7;
}
