body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

section {
  width: 100%;
  box-sizing: border-box;
}

.site-header {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  max-height: 100px;
  }

.site-identity, img {
  margin-left: 20px;
  max-width: 100px;
  background-color: transparent;
  }

.title {
  outline: dashed;
}

.container {
  border: 3px solid gray;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(14, 20, 18);
  padding: 15px 15px;
  display: flex;
  justify-content: space-between;
}

.headertitle {
  text-align: center;
  outline: dashed yellowgreen;
  box-sizing: border-box;
  margin: 0;
  padding: 3px;
}




/*Design 1 (STATIC)*/
.container-logo, img{
  margin: .6em 0;
  display: inline-block;
  width:65px;
  height:65px;
  object-position: center;
}

button, .breakfast {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #309a06; /*309a06*/
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: background-color 0.3s;
  margin: 5px;
}

button, .lunch {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #8d0000; /*8d0000*/
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: background-color 0.3s;
  margin: 5px;
}

button, .dinner {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #030d7b; /*030d7b*/
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: background-color 0.3s;
  margin: 5px;
}

.search_bar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.search_bar input[type="text"]{
  background-color: azure;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.search_bar:hover {
  background-color: cadetblue;
}


/*Design 2 (STATIC)*/
.design1-container {
  border: 3px solid gray;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(14, 20, 18);
  padding: 15px 15px;
  display: flex;
  justify-content: space-between;
}
/*Design 3 (STATIC)*/

/*Design 4 (STATIC)*/

/*Design 5 (STATIC)*/

/*---------------------------------------*/

/*Design 1 (RESPONSIVE)*/

/*Design 2 (RESPONSIVE)*/

/*Design 3 (RESPONSIVE)*/

/*Design 4 (RESPONSIVE)*/

/*Design 5 (RESPONSIVE)*/
