body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}

section {
  width: 100%;
  box-sizing: border-box;
}

.site-Header {
    border-bottom: 1px solid #ccc;
    background-color: beige;
    padding: .5em 1em;
    display: flex;
    justify-content: space-between;
    opacity: 10;
  }

 .site-Identity, img {
    margin: .6em 0;
    display: inline-block;
    width:42px;
    height:42px;
  }

.title {
  outline: dashed;
}

.container {
  border: 3px solid gray;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(14, 20, 18);
  padding: 45px 15px;
}

.headerTitle {
  text-align: center;
  outline: dashed yellowgreen;
  box-sizing: border-box;
  margin: 0;
  padding: 3px;
}
